* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: linear-gradient
    (rgba(247, 99, 106, 0.743) 19.86%, rgba(0, 0, 0, 0) 100%);
}

body {
  background-color: rgba(0, 0, 0, 0.599);
}

.hero {
  width: 100%;
  height: 80vh;

  overflow: hidden;
}

.bg-container {
  position: absolute;
  /* width: 100%; */
  background-color: black;
  filter: blur(10px);
}

.tint {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: #f9393960; */
  background-image: linear-gradient
    (rgba(247, 99, 106, 0.743), rgba(0, 0, 0, 0));
}

.nav-bar {
}

.nav {
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  align-items: center;
  position: absolute;
  /* top: 0; */
  width: 90%;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 150px;
  position: sticky;
  top: 20px;
}

.nav-btn {
  display: flex;
  gap: 16px;
  position: sticky;
  top: 20px;
}

.btn-lang {
  background-color: #00000060;
  color: white;
  border: 1px solid #d6d6d687;
  padding: 8px 24px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 500;
}

.btn-primary {
  padding: 8px 24px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 24px;
  font-size: 14px;
  font-weight: 500;
}

.tab {
  background-color: #00000060;
  padding: 16px 32px;
  border-radius: 30px;
  border: 1px solid #d6d6d687;
  /* margin: 0 auto; */
  width: 450px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* justify-content: center; */
  text-align: center;
}

.tab ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.tab ul a {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.content {
  position: absolute;
  text-align: center;
  top: 0;
  color: white;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-align {
  width: 90%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-btn-text {
  position: relative;
  bottom: -280px;
}
.title {
  font-size: 54px;
  text-align: center;
}
.sub-title {
  font-size: 26px;
}
.desc {
  font-size: 18px;
  width: 700px;
  margin-bottom: 16px;
}
.content-input {
  width: 320px;
  padding: 14px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.551);
  border: 1px solid #eeeeee70;
  border-radius: 40px;
}
.content-flex {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.content-btn {
  padding: 16px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  justify-content: center;
}

.content-img {
  position: absolute;
  width: 990px;
  height: 400px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: -10;
}

.list {
  position: absolute;
  top: 750px;
  margin: 0 120px;
}

.heading-list {
  padding-bottom: 24px;
  color: white;
}

.trendinglist img {
  width: 202px;
  border-radius: 12px;
}
